    <div class="header">
        <div class="log"><img src="/images/Neuralnet_logo 2.png" alt="NeuralNet Data Science" class="nnet"></div>
        <div class="title">
            <h3><span>DBS Yuu and MCA (Client_V2)_08-08-2024</span></h3>
        </div>
        <div class="logout"><button class="logoutbtn"><img src="/images/log-out.svg" alt="Logout"></button></div>
    </div>
