<div id="navid">
                <ul id="ulid">
                    <li><a href="/" class="navname">Completions</a></li>
                    <li><a href="/Terminate" class="navname">Terminates</a></li>
                    <li><a href="/Quota" class="navname">Quotas</a></li>
                </ul>
            </div>
            <div class="filter_tab" id="completed">
                <ul class="datewisefil">
                    <li><span><label class="datesfil" for="Date">Date:</label><select name="dateselect" class="date"
                                id="datefill">
                                <option class="dateopt" value="All">All</option>
                                <option class="dateopt" value="Custom">Custom</option>
                                <option class="dateopt" value="Last 7 days">Last 7 days</option>
                                <option class="dateopt" value="This Month">This Month</option>
                                <option class="dateopt" value="Last Month">Last Month</option>
                                <option class="dateopt" value="Last 3 Months">Last 3 Months</option>
                                <option class="dateopt" value="Last 6 Months">Last 6 Months</option>
                                <option class="dateopt" value="YTD">YTD</option>
                            </select></span></li>
                    <li><span><label class="datesfil" for="From">From:</label><input class="date" type="text"
                                id="fromdate"></span></li>
                    <li><span><label class="datesfil" for="To">To:</label><input class="date" type="text"
                                id="todate"></span></li>
                    <li><span><button class="applybtn" type="submit" id="apply">Apply</button></span></li>
                </ul>